<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar__header.jpg" alt="">
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://placehold/it/100" alt="">
            <div class="profile__name">Мария Герасимова</div>
            <div class="profile__prof">Верстальщик</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#"
                    target="blanks">
                        <img src="" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>;

    <div class="sidebar__footer"></div>;
 </aside>