.sidebar {
    width: $sidebar-width;
    height: 100vh;
    background-color: $primary;
    box-shadow: 5px 0 30px;
    background: rgba (#050233, .1);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-sidebar;
}

.sidebar__header {

    height: 180px;
    background-color: $sacondary;

    img {
       display: block; 
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
}

